* {
    box-sizing: border-box;
}

body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-bottom: 25px;
    height: 40px;
    background-color: dimgrey;
}

header h1 {
    color: white;
    font: 14px Arial;
    margin-right: 83%;
    padding-left: 10px;
}

#notification-button {
    background-color: dimgrey;
    margin-top: 0;
    border: 0;
    margin-right: 10px;
}

#notification-button img {
    width: 25px;
    height: 25px;
}

#profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dimgrey;
    margin-top: 0;
    border: 0;
}

#profile-button img {
    width: 32px;
    height: 32px;
    margin-right: 3px;
}

#profile-button i {
    color: white;
}

.profile-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    width: 100px;
    height: 70px;
    background-color: white;
    border: 1px solid black;
}

.profile-link a {
    font: 16px Arial;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    flex-direction: column;
    width: 18%;
    margin-left: 25px;
}

nav a {
    padding-bottom: 7px;
    font: 18px Arial;
    text-decoration: none;
    color: black;
}

nav a:active {
    color: black;
}

.active-page {
    color: grey;
}

.wrapper {
    display: flex;
}

main {
    padding: 10px;
}

.addModal-overlay, .deleteWarning-overlay, .editModal-overlay {
    position: fixed;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.add-form, .delete-warning {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
    width: 35%;
    height: 35%;
}

.formItem {
    display: flex;
    margin-bottom: 1%;
}

.delete-warning {
    width: 30%;
    height: 30%;
}

#Ok-addModal {
    margin-right: 5px;
    position: absolute;
    left: 78%;
    border-color: dimgrey;
}

#deleteModal-button {
    float: right;
    border-color: dimgrey;
}

#create-modal {
    position: absolute;
    left: 87%;
    border-color: dimgrey;
}

.add-form h3 {
    display: inline;
}

.closeButton {
    float: right;
}

.add-form h3 {
    align-self: flex-start;
}

main h2 {
    margin-top: 0;
}

#add-button {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    height: 250px;
    width: 1100px;
}

th {
    font-weight: normal;
}

td {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.pages {
    margin-top: 15px;
    margin-left: 450px;
}

.notification-circle {
    visibility: hidden;
    width: 5px;
    height: 5px;
    position: relative;
    left: -1.7%;
    bottom: 10px;
    background-color: crimson;
    border-radius: 50%;
}

.new-notification {
    visibility: visible;
    animation-name: newNotification;
    animation-delay: 0.3s;
    animation-timing-function: ease-in-out;
    animation-duration: 6s;
}

@keyframes newNotification {
    15% {
        margin-bottom: 10px;
    }
    30% {
        margin: 0;
    }
    45% {
        margin-bottom: 7px;
    }
    60% {
        margin: 0;
    }
    75% {
        margin-bottom: 3px;
    }
    100% {
        margin: 0;
    }
}

.messageBoard {
    display: none;
    position: absolute;
    left: 84%;
    top: 5%;
    background-color: white;
    width: 15.5%;
    height: 100px;
    border: 2px solid grey;
    border-radius: 2px;
}

.message {
    display: flex;
    border-bottom: 1px solid grey;
}

.message img {
    width: 40px;
    height: 100%;
    margin-right: 3%;
    margin-left: 1%;
    margin-top: 2%;
}